DATABASE_URL=sqlite:///./stocklens.db
NEWS_API_KEY=51e19c5df5cf4fb99aadf61a9c28cde6
ALPHA_VANTAGE_KEY=241RJDD0QC6PY374
FINNHUB_API_KEY=d3lbn7hr01qq28emqnj0d3lbn7hr01qq28emqnjg
GEMINI_API_KEY=AIzaSyBihAi4Vd1pUYIy_GdtA8iPb2XMAv6KT5w
